@using System.Web.UI.WebControls
@using System.Web.Mvc.Html
@model AspDotNetMVCSnippet.Controllers.MyViewModel

@{
    ViewBag.Title = "Home Page";
}

<main>
    @using (Html.BeginForm())
    {
        <div class="col-md-auto">
            <input type="text" id="txtA" name="txtA" value="@Model.TxtA" class="form-text" />
        </div>
        <div class="col-md-auto">
            @Html.TextBoxFor(x => x.TxtB, new { @class = "form-text" })
            @Html.ValidationMessageFor(model => model.TxtB, " ", new { @class = "text-danger" })
        </div>

        <div class="col-md-auto">
            <select id="SelA" name="SelA" class="form-select">
                <option value="" @(Model.SelA == " " ? "selected" : "")>Choose</option>
                <option value="A" @(Model.SelA == "A" ? "selected" : "")>Apple</option>
                <option value="F" @(Model.SelA == "F" ? "selected" : "")>FaceBook</option>
                <option value="G" @(Model.SelA == "G" ? "selected" : "")>Google</option>
            </select>
          
        </div>

        <div class="col-md-auto">
                @Html.DropDownListFor(x=>x.SelListAValue,Model.SelListA,new { @class = "form-select" })
        </div>

        <div class="col-md-auto" style="margin-top: 10px;">
            <input value="submit" type="submit" class="btn-success " />
        </div>



    }

</main>